*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors and sizes here */
    --black: #121212;
}

/* Reusable style */

.container {
    width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
}

.button {
    cursor: pointer;
}

.project-item {
    margin-bottom: 10px;
    justify-content: space-around;
    cursor: pointer;
}

.dialog {
    justify-content: space-between;
}

.dialog__head {
    width: 100px;
    height: 100px;
    background-color: purple;
}

.dialog__para-box {
    width: 70%;
    background-color: burlywood;
}

.para-box__para {
    height: 100%;
}

.gray {
    background-color: gray;
}